<div>
  <h1>Restaurantes</h1>
</div>
<main>
  <div class="container_card">
    <div class="card_father">
      <div class="card">
        <div
          class="card_front"
          style="background-image: url(../../../../../../../assets/img/restaurante1.jpg); background-size: cover; background-position:center;background-repeat: no-repeat;">
          <div class="bg"></div>
          <div class="body_card_front">
            <h1>Mundo Salvaje</h1>
          </div>
        </div>
        <div class="card_back">
          <div class="body_card_back">
            <h1>Adventure Park</h1>
            <p>
              Este es una de los mejores restaurantes del parque, excelente
              comida, para todo tipo de gustos, y al mejor precio, que esperar
              para venir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container_card">
    <div class="card_father">
      <div class="card">
        <div
          class="card_front"
          style="background-image: url(../../../../../../../assets/img/restaurante2.jpg); background-size: cover; background-position:center;background-repeat: no-repeat;">
          <div class="bg"></div>
          <div class="body_card_front">
            <h1>Aqua</h1>
          </div>
        </div>
        <div class="card_back">
          <div class="body_card_back">
            <h1>Adventure Park</h1>
            <p>
              Este es una de los mejores restaurantes del parque, excelente
              comida, para todo tipo de gustos, y al mejor precio, que esperar
              para venir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container_card">
    <div class="card_father">
      <div class="card">
        <div
          class="card_front"
          style="background-image: url(../../../../../../../assets/img/restaurante3.jpg); background-size: cover; background-position:center;background-repeat: no-repeat;">
          <div class="bg"></div>
          <div class="body_card_front">
            <h1>Alicia y sus maravillas</h1>
          </div>
        </div>
        <div class="card_back">
          <div class="body_card_back">
            <h1>Adventure Park</h1>
            <p>
              Este es una de los mejores restaurantes del parque, excelente
              comida, para todo tipo de gustos, y al mejor precio, que esperar
              para venir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container_card">
    <div class="card_father">
      <div class="card">
        <div
          class="card_front"
          style="background-image: url(../../../../../../../assets/img/restaurante4.jpg); background-size: cover; background-position:center;background-repeat: no-repeat;">
          <div class="bg"></div>
          <div class="body_card_front">
            <h1>Retro´s</h1>
          </div>
        </div>
        <div class="card_back">
          <div class="body_card_back">
            <h1>Adventure Park</h1>
            <p>
              Este es una de los mejores restaurantes del parque, excelente
              comida, para todo tipo de gustos, y al mejor precio, que esperar
              para venir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container_card">
    <div class="card_father">
      <div class="card">
        <div
          class="card_front"
          style="background-image: url(../../../../../../../assets/img/restaurante5.jpg); background-size: cover; background-position:center;background-repeat: no-repeat;">
          <div class="bg"></div>
          <div class="body_card_front">
            <h1>Jungle Restaurant</h1>
          </div>
        </div>
        <div class="card_back">
          <div class="body_card_back">
            <h1>Adventure Park</h1>
            <p>
              Este es una de los mejores restaurantes del parque, excelente
              comida, para todo tipo de gustos, y al mejor precio, que esperar
              para venir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container_card">
    <div class="card_father">
      <div class="card">
        <div
          class="card_front"
          style="background-image: url(../../../../../../../assets/img/restaurante6.jpg); background-size: cover; background-position:center;background-repeat: no-repeat;">
          <div class="bg"></div>
          <div class="body_card_front">
            <h1>dino comisaurio</h1>
          </div>
        </div>
        <div class="card_back">
          <div class="body_card_back">
            <h1>Adventure Park</h1>
            <p>
              Este es una de los mejores restaurantes del parque, excelente
              comida, para todo tipo de gustos, y al mejor precio, que esperar
              para venir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container_card">
    <div class="card_father">
      <div class="card">
        <div
          class="card_front"
          style="background-image: url(../../../../../../../assets/img/restaurante7.jpg); background-size: cover; background-position:center;background-repeat: no-repeat;">
          <div class="bg"></div>
          <div class="body_card_front">
            <h1>Nanananana Batman</h1>
          </div>
        </div>
        <div class="card_back">
          <div class="body_card_back">
            <h1>Adventure Park</h1>
            <p>
              Este es una de los mejores restaurantes del parque, excelente
              comida, para todo tipo de gustos, y al mejor precio, que esperar
              para venir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container_card">
    <div class="card_father">
      <div class="card">
        <div
          class="card_front"
          style="background-image: url(../../../../../../../assets/img/restaurante8.jpg); background-size: cover; background-position:center;background-repeat: no-repeat;">
          <div class="bg"></div>
          <div class="body_card_front">
            <h1>circus</h1>
          </div>
        </div>
        <div class="card_back">
          <div class="body_card_back">
            <h1>Adventure Park</h1>
            <p>
              Este es una de los mejores restaurantes del parque, excelente
              comida, para todo tipo de gustos, y al mejor precio, que esperar
              para venir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
