<section>
        <div class="contenedor-textos">
            <h2>Modal</h2>
            <p class="mensaje">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam adipisci provident in vel ipsam aut quibusdam assumenda deleniti quia magnam labore sunt nulla, doloremque quis, nesciunt mollitia. Officiis, tempora corrupti.</p>
            <a href="#" class="cta">Abrir Modal</a>
        </div>
        <img src="../assets/img/Oro.png" alt="">
    </section>   

    <div class="modal-container">
        <div class="modal modal-close">
            <p class="close">X</p>
            <img src="../assets/img/banner-2.jpg" alt="">
            <div class="modal-textos">
                <h2>Te Comunicamos:</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>

    <script src="../assets/Js/popup.js"></script>