<div>
  <h1>Registro</h1>
</div>
<main>
  <div class="container">
    <div class="Login-Registro">
      <div class="interior" id="tarjeta">
        <div class="frontal">
          <h2>Registrarme</h2>
          <form>
            <br />
            <span class="nom-propiedades">Nombre</span>
            <input type="text" class="input-box" required />
            <br />
            <span class="nom-propiedades">Apellido</span>
            <input type="text" class="input-box" required />
            <br />
            <span class="nom-propiedades">Correo</span>
            <input type="email" class="input-box" required />
            <br />
            <span class="nom-propiedades">Celular</span>
            <input type="text" class="input-box" required />
            <br />
            <button type="submit" class="btn-ingresar">Registrarme</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
