<div class="body"> 
        <div>
            <h1>Atracciones</h1>            
        </div> 
    <main>
        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/Montaña\Rusa.jpg);">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Montaña Rusa</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/rueda.jpg);background-position: center; background-size: cover;">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Rueda De La Fortuna</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/barco\ pirata.jpg); background-size: cover;background-position: center;">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Barco Pirata</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/carrusel.jpg); background-size: cover;background-position: center;">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Carrusel</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/carritos\ chocones.jpg); background-size: cover;
                    background-position: right;">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Carritos Chocones</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/karts.jpg); background-size: cover;background-position: center;">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Karts</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/paintball.jpg); background-size: cover;background-position: right;">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Paintball</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/arcades.jpg); background-size: cover;background-position: center;">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Arcades</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/Muro\ de\ escalar.jpg); background-size: cover;background-position: center;">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Muro De Escalar</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/Trompolines.jpg); background-size: cover; background-position: center;">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Trampolines</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/castillo.jpg); background-size: cover;background-position: center;">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Castillo Del Terror</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="container_card">
            <div class="card_father">
                <div class="card">
                    <div class="card_front" style="background-image: url(../assets/img/Toboganes.jpg); background-size: cover;background-position: center;">
                    <div class="bg"></div>
                        <div class="body_card_front">
                            <h1>Toboganes</h1>
                        </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1>Adventure Park</h1>
                            <p>Esta es una de las mejores atracciones con las que cuenta el parque. Ven y diviertete con lo que te ofrecemos para que disfrutes con la familia, amigos y compañeros.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
