<div class="Mensaje-error">
  <div class="Error">
    <div class="image">
      <img src="../assets/img/robot.png" alt="" />
    </div>
    <div class="textos">
      <div class="ap">
        <h2>Adventure Park</h2>
      </div>
      <div class="lamento">Lamenta Informarte Que La Página No Existe</div>
      <h1 class="uy">Error 402</h1>
      <h2 class="gracias">¡¡Gracias Por Entender!!</h2>
    </div>
    <div class="imagen">
      <img src="../assets/img/robot2.png" alt="" />
    </div>
  </div>
</div>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Russo+One&family=Splash&display=swap"
  rel="stylesheet"/>
