<div class="body">
    <div>
        <h1>Restaurantes</h1>            
    </div>
        <main>
            <div class="container_card">
                <div class="card_father">
                    <div class="card">
                        <div class="card_front" style="background-image: url(../assets/img/restaurante1.jpg); background-position: center; background-size: cover;">
                        <div class="bg"></div>
                            <div class="body_card_front">
                                <h1>Restaurante Marvel</h1>
                            </div>
                        </div>
                        <div class="card_back">
                            <div class="body_card_back">
                                <h1>Adventure Park</h1>
                                <p>Este es una de los mejores restaurantes del parque, excelente comida, para todo tipo de gustos, y al mejor precio, que esperar para venir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container_card">
                <div class="card_father">
                    <div class="card">
                        <div class="card_front" style="background-image: url(../assets/img/restaurante2.jpg); background-position: center; background-size: cover;">
                        <div class="bg"></div>
                            <div class="body_card_front">
                                <h1>Mundo Salvaje</h1>
                            </div>
                        </div>
                        <div class="card_back">
                            <div class="body_card_back">
                                <h1>Adventure Park</h1>
                                <p>Este es una de los mejores restaurantes del parque, excelente comida, para todo tipo de gustos, y al mejor precio, que esperar para venir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container_card">
                <div class="card_father">
                    <div class="card">
                        <div class="card_front" style="background-image: url(../assets/img/restaurante3.jpg); background-position: center; background-size: cover;">
                        <div class="bg"></div>
                            <div class="body_card_front">
                                <h1>Las Maravillas</h1>
                            </div>
                        </div>
                        <div class="card_back">
                            <div class="body_card_back">
                                <h1>Adventure Park</h1>
                                <p>Este es una de los mejores restaurantes del parque, excelente comida, para todo tipo de gustos, y al mejor precio, que esperar para venir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container_card">
                <div class="card_father">
                    <div class="card">
                        <div class="card_front" style="background-image: url(../assets/img/restaurante4.jpg); background-position: center; background-size: cover;">
                        <div class="bg"></div>
                            <div class="body_card_front">
                                <h1>Olimpo Restaurant</h1>
                            </div>
                        </div>
                        <div class="card_back">
                            <div class="body_card_back">
                                <h1>Adventure Park</h1>
                                <p>Este es una de los mejores restaurantes del parque, excelente comida, para todo tipo de gustos, y al mejor precio, que esperar para venir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container_card">
                <div class="card_father">
                    <div class="card">
                        <div class="card_front" style="background-image: url(../assets/img/restaurante5.jpg); background-position: center; background-size: cover;">
                        <div class="bg"></div>
                            <div class="body_card_front">
                                <h1>Dino Comisaurio</h1>
                            </div>
                        </div>
                        <div class="card_back">
                            <div class="body_card_back">
                                <h1>Adventure Park</h1>
                                <p>Este es una de los mejores restaurantes del parque, excelente comida, para todo tipo de gustos, y al mejor precio, que esperar para venir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container_card">
                <div class="card_father">
                    <div class="card">
                        <div class="card_front" style="background-image: url(../assets/img/restaurante6.jpg); background-position: center; background-size: cover;">
                        <div class="bg"></div>
                            <div class="body_card_front">
                                <h1>Parameshvar</h1>
                            </div>
                        </div>
                        <div class="card_back">
                            <div class="body_card_back">
                                <h1>Adventure Park</h1>
                                <p>Este es una de los mejores restaurantes del parque, excelente comida, para todo tipo de gustos, y al mejor precio, que esperar para venir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container_card">
                <div class="card_father">
                    <div class="card">
                        <div class="card_front" style="background-image: url(../assets/img/restaurante7.jpg); background-position: center; background-size: cover;">
                        <div class="bg"></div>
                            <div class="body_card_front">
                                <h1>Mundo Acuatico</h1>
                            </div>
                        </div>
                        <div class="card_back">
                            <div class="body_card_back">
                                <h1>Adventure Park</h1>
                                <p>Este es una de los mejores restaurantes del parque, excelente comida, para todo tipo de gustos, y al mejor precio, que esperar para venir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container_card">
                <div class="card_father">
                    <div class="card">
                        <div class="card_front" style="background-image: url(../assets/img/restaurante8.jpg);  background-size: cover;">
                        <div class="bg"></div>
                            <div class="body_card_front">
                                <h1>Alucinante</h1>
                            </div>
                        </div>
                        <div class="card_back">
                            <div class="body_card_back">
                                <h1>Adventure Park</h1>
                                <p>Este es una de los mejores restaurantes del parque, excelente comida, para todo tipo de gustos, y al mejor precio, que esperar para venir.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </main>
</div>
