<div>
  <h1>Recuperar Contraseña</h1>
</div>
<main>
  <div class="cont">
    <div class="logo">
      <img src="../assets/img/icono.png" />
    </div>
    <div class="form">
      <h2>Recuperar Contraseña</h2>
      <span class="nom-propiedades">Correo</span>
      <input type="email" class="input-box" required />
      <span class="nom-propiedades">Número de Celular</span>
      <input type="text" class="input-box" required />
      <button class="submit" type="button">Cambiar</button>
    </div>
  </div>
</main>
