*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.pop-up{
    width: 100%;
    max-width: 660px;
    height: 380px;
    position: relative;    
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 34px;
    border-bottom-right-radius: 100px;
}

.texto{
    width: 100%;
    padding: 30px;
    overflow-y: auto;    
}

.texto h1{
    margin-top: 40px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: red;
    text-transform: uppercase;
}

.mensaje{
    font-size: 20px;
}

.titulo{
    *width: 100vw;
    *padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
}

.info{
    padding-top: 120px;
    text-align: center;
    font-weight: 700;
}

input{
    height: 12px;
    display: block;
    padding: 14px;
    border-radius: 14px;
    *margin-left: 20px;
    width: 360px;
    border-color: red;
    font-size: 18px;
}

.btn{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 18px;
    margin-left: 260px;
    background: green;
    cursor: pointer;
    border-style: none;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    transition: all 400ms;
}

.btn:hover{
    transform: scale(1.1);
}

.btn-cerrar{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -18px;
    padding: 18px;
    background: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 900;
    border-radius: 100%;
    line-height: 10px;
    z-index: 1;
    transition: all 700ms;
}

.btn-cerrar:hover{
    background: red;
}

@media screen and (max-width:720px){

    .pop-up{
        height: 540px;
        max-width: 460px;
    }

    .banner{
        display: none;
    }

    .texto h1{
        text-align: center;
        font-size: 20px;
    }    
}

@media screen and (max-width:720px){

    .pop-up{
        height: 540px;
        max-width: 460px;
    }

    .banner{
        display: none;
    }

    .texto h1{
        text-align: center;
        font-size: 20px;
    }  
    
    .btn{
        margin-left: 160px;
    }
}

@media screen and (max-width:500px){

    .pop-up{
        height: 500px;
        max-width: 400px;
    }
    
    .titulo{
        display: block;
    }

    .info{
        font-size: 18px;
    }

    input{
        width: 280px;
    }

    .btn{
        margin-left: 140px;
    }

    .texto h1{
        text-align: center;
        font-size: 20px;
    }    
}

@media screen and (max-width:500px){

    .pop-up{
        height: 500px;
        max-width: 400px;
    }
    
    .titulo{
        display: block;
    }

    .info{
        font-size: 18px;
    }

    input{
        width: 280px;
    }

    .btn{
        margin-left: 140px;
    }

    .texto h1{
        text-align: center;
        font-size: 20px;
    }    
}

@media screen and (max-width:280px){

    .pop-up{
        height: 420px;
        max-width: 240px;        
        border-radius: 20px;
        border-bottom-right-radius: 80px;
    }

    .banner{
        display: none;
    }

    .texto h1{
        text-align: center;
        font-size: 14px;
    }

    .mensaje{
        font-size: 10px;
    }

    .btn-cerrar{
        width: 40px;
        height: 40px;
        position: absolute;
        right: -12px;
        top: -14px;
        padding: 14px;
        background: rgb(15, 15, 15);
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 900;
        border-radius: 100%;
        line-height: 10px;
    }

}














