<div>
  <h1>Ticket´s</h1>
</div>
<main>
  <div class="container">
    <div class="tarjeta tarjeta-1">
      <div class="tarjeta-header">
        <img src="../../../../../../../assets/img/Oro.png" class="tarjeta-img" />
      </div>
      <div class="tarjeta-body">
        <h3 class="local">ORO</h3>

        <h2 class="titulo">Acceso Total</h2>

        <p class="descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro qui
          culpa, ex modi, repellendus animi maiores et consectetur iusto
          delectus.
        </p>
      </div>

      <div class="botones">
        <div class="pie">
          <a href="#">¡Lo Quiero!</a>
        </div>
        <div class="carrito">
          <span>$60.000</span>
        </div>
      </div>
    </div>

    <div class="tarjeta tarjeta-2">
      <div class="tarjeta-header">
        <img src="../../../../../../../assets/img/Plata.png" class="tarjeta-img" />
      </div>
      <div class="tarjeta-body">
        <h3 class="local">PLATA</h3>

        <h2 class="titulo">Acceso Semi-Full</h2>

        <p class="descripcion">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro qui
          culpa, ex modi, repellendus animi maiores et consectetur iusto
          delectus.
        </p>
      </div>

      <div class="botones">
        <div class="pie">
          <a href="#">¡Lo Quiero!</a>
        </div>
        <div class="carrito">
          <span>$40.000</span>
        </div>
      </div>
    </div>

    <div class="tarjeta tarjeta-3">
      <div class="tarjeta-header">
        <img src="../../../../../../../assets/img/Bronce.png" class="tarjeta-img" />
      </div>
      <div class="tarjeta-body">
        <h3 class="local">BRONCE</h3>

        <h2 class="titulo-bronce">Acceso Restringido</h2>

        <p class="descripcion-bronce">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro qui
          culpa, ex modi, repellendus animi maiores et consectetur iusto
          delectus.
        </p>
      </div>

      <div class="botones">
        <div class="pie">
          <a href="#">¡Lo Quiero!</a>
        </div>
        <div class="carrito">
          <span>$30.000</span>
        </div>
      </div>
    </div>
  </div>
</main>
