<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Adventure Park</h5>
        <br>
        <p class="grey-text text-lighten-4">
          Gracias por usar nuestros servicios.
        </p>
        <br>
        <p>
          Adventure Park - Colombia © 2022 Copyright all rights reserved
        </p>
        <br>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contactanos:</h5>
        <br>
        <ul>
          <p>E-mail: adventurepark092@gmail.com</p>
          <p>Teléfono: 3104545454</p>
          <p>Dirección: Carrera Busque Avenida Encuentre - Bogotá</p>
        </ul>
      </div>
    </div>
  </div>
</footer>
