<div clas="body">
    <div>
            <h1>Perfil</h1>
        </div>
    <main>
        
        <div class="cont">
            <div class="logo">
                <img src="../assets/img/icono.png">
            </div>
                <div class="form">
                    <h2>Cambiar Contraseña</h2>
                        <span class="nom-propiedades">Contraseña Actual</span>
                        <input type="password" class="input-box" required>
                        <span class="nom-propiedades">Confirmar Contraseña</span>
                        <input type="password" class="input-box" required>
                        <span class="nom-propiedades">Nueva Contraseña</span>
                        <input type="password" class="input-box" required>
                        <button class="submit" type="button">Cambiar</button>
                </div>
        </div>
    </main>        
</div>